<app-header></app-header>

<div class="topcard">
  <div class="topcardcontent">
      <div class="right">
        <form (ngSubmit) = "onSubmit()">
          <h1 class="form-title">הרשמה</h1>
        <div class="form-body ">
          <div class="row">

            <div class="form-group col-md-6">
                <input
                  type="text"
                  id="bfname"
                  name="bfname"
                  class="form-input"
                  placeholder=" "
                  [(ngModel)]="business.bfname"
                />
                <label for="bfname">שם פרטי</label>
              </div>
              <div class="form-group col-md-6">
                <input
                    type="text"
                    id="blname"
                    name="blname"
                    class="form-input"
                    placeholder=" "
                    [(ngModel)]="business.blname"
                  />
                  <label for="blname">שם משפחה</label>
                </div>
                <div class="form-group col-md-6">
                  <input
                    type="text"
                    id="bname"
                    name="bname"
                    class="form-input"
                    placeholder=" "
                    [(ngModel)]="business.bname"
                  />
                  <label for="bname">שם עסק</label>
                </div>
                <div class="form-group col-md-6">
                  <input
              type="email"
              id="bemail"
              name="bemail"
              class="form-input"
              placeholder=" "
              autocomplete="off"
              [(ngModel)]="business.bemail"
            />
            <label for="bemail">אימייל</label>
          </div>
          <div class="form-group col-md-6">
            <input
              type="password"
              id="bpassword"
              name="bpassword"
              class="form-input"
              placeholder=" "
              [(ngModel)]="business.bpassword"
            />
            <label for="bpassword">סיסמא</label>
          </div>
          <div class="form-group col-md-6">
            <select class="form-select" 
            aria-label="Default select example"
            id="barea"
            name="barea"
            [(ngModel)]="business.barea">
              <option value="1">צפון</option>
              <option value="2">חיפה</option>
              <option value="3">מרכז</option>
              <option value="4">תל אביב</option>
              <option value="5">ירושלים</option>
              <option value="6">דרום</option>
              <option value="7">יהודה ושומרון</option>
            </select>
            <label class="select-label" for="barea">מחוז</label>
          </div>
          <div class="form-group col-md-6">
            <input
              type="text"
              id="bcity"
              name="bcity"
              class="form-input"
              placeholder=" "
              [(ngModel)]="business.bcity"
            />
            <label for="bcity">עיר</label>
          </div>
          <div class="form-group col-md-6">
            <input
              type="text"
              id="baddress"
              name="baddress"
              class="form-input"
              placeholder=" "
              [(ngModel)]="business.baddress"
            />
            <label for="baddress">כתובת</label>
          </div>
          <div class="form-group col-md-6">
            <input
                type="text"
                id="bphone"
                name="bphone"
                class="form-input"
                placeholder=" "
                [(ngModel)]="business.bphone"
              />
              <label for="bphone">פלאפון</label>
            </div>
            <div class="form-group col-md-6">

              <select class="form-select" 
              aria-label="Default select example"
              id="bsubject"
              name="bsubject"
              [(ngModel)]="business.bsubject">
                <option value="קעקועים">קעוקעים</option>
                <option value="ציפורניים">ציפורניים</option>
                <option value="מאפרות">מאפרות</option>
                <option value="גבות-שפם">גבות שפם</option>
                <option value="קוסמטיקאיות">קוסמטיקאיות</option>
                <option value="ספר">מספרות</option>
              </select>
              <label for="bsubject">תחום</label>
            </div>
            <div class="form-group col-md-6">
              <input
                type="text"
                id="bhour"
                name="bhour"
                class="form-input"
                placeholder=" "
                [(ngModel)]="business.bhour"
              />
              <label for="bhour">שעות קבלה</label>
            </div>
            <div class="form-group col-md-6">
              <input
            type="text"
            id="blogo"
            name="blogo"
            class="form-input"
            placeholder=" "
            [(ngModel)]="business.blogo"
          />
          <label for="blogo">לוגו</label>
        </div>
        
        <textarea
        type="text"
        id="bdescription"
        name="bdescription"
        class="form-input"
        placeholder="תיאור ראשי"
        [(ngModel)]="business.bdescription"
      ></textarea>
      <textarea
      type="text"
      id="bdescriptionf"
      name="bdescriptionf"
      class="form-input"
      placeholder="תיאור ראשון"
      [(ngModel)]="business.bdescriptionf"
    ></textarea>
          <div class="wrap">
            <button type="submit"  class="form-btn button">הירשם</button>
          </div>
          <div class="log-in">
            <a href="#">רשום כעסק? התחבר</a>
          </div>
        </div>
        </div>
      </form>
      
      </div>
      <div class="left">
        <div class="topcard">
          <div class="topcardcontent">
              <div class="right">
                  <div class="textBox">
                      <div class="cardR">
                          <div class="boximgtext">
                              <div class="slider">
                                  <div class="cardR text">
                                      <div class="textR">
                                          <div class="smallimg"><img src={{business.blogo}} alt=""></div>
                                          <div class="details">
                                            <div class="item"><a class="bname">{{business.bname}}</a></div>
                                            <div class="item"><a class="bflname">{{business.bfname}} {{business.blname}}</a></div>
                                            <div class="item"><a class="bsubject">{{business.bsubject}}</a></div>

                                          </div>
                                      </div>
                                      <div class="item"><a class="bdescription">{{business.bdescription}}</a></div>
                                  </div>
                                  <div class="cardR">
                                          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                              <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                              </div>
                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img src={{business.blogo}} class="d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                  <img src={{business.blogo}}  class="d-block w-100" alt="...">
                                                </div>
                                              </div>
                                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                              </button>
                                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                              </button>
                                            </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="contact">
                      <div class="colRR">
                          <h5>דברו איתנו<br><span>{{business.bphone}}</span></h5>
                      </div>
                      <div class="colRR">
                          <h5>שעות קבלה<br><span>{{business.bhour}}</span></h5>
                      </div>
                      <div class="colRR">
                          <h5>בקרו אותנו<br><span>{{business.bcity}} - {{business.baddress}}</span></h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="page">
          <div class="business">
              <div class="textimg">
                  <div class="slider">
                      <div class="cardR textR">
                          <div class="textR">
                              <div class="h1">{{business.bdescriptionf}}</div>  
                                                          
                          </div>
                      </div>
                      <div class="cardR">
                          <img src={{business.blogo}} alt="">
                      </div>
                  </div>
                </div>
          </div>

      </div>
      
      </div>
  </div>
</div>

<app-footer></app-footer>