<div class="topcard">
    <app-header></app-header>
    <div class="topcardcontent">
        <div class="right">
            <div class="textBox">
                <div class="card" *ngIf="data as item">
                    <div class="boximgtext">
                        <div class="slider">
                            <div class="card text">
                                <div class="text">
                                    <div class="item"><a class="bname">{{item.business[0][0].bname}}</a></div>
                                    <div class="item"><a class="bflname">{{item.business[0][0].bfname}} {{item.business[0][0].blname}}</a></div>
                                    <div class="item"><a class="bcity">{{item.business[0][0].bcity}} - {{item.business[0][0].baddress}}</a></div>
                                    <div class="item"><a class="bhour">{{item.business[0][0].bhour}}</a></div>      
                                    <div class="item"><a class="bdescription">{{item.business[0][0].bdescription}}</a></div>
                                    <div class="book">{{item.business[0][0].bphone}}</div>
    
                                </div>
                            </div>
                            <div class="card">
                                <img src="/assets/blogo.png" alt="{{item.business[0][0].bname}}">
                            </div>
                        </div>
                    </div>
    </div>
</div>
<div class="page">
    <div class="business">

    </div>
</div>
