.topcard{
    padding: 0 4%;
    border-radius: 0 0 28px 28px ;
    background-color: #fff;
    box-shadow: 0px 5px 30px 10px #d5d3e08c;
}

.topcardcontent{
    display: flex;
    height: 88px;
    align-items: center;
    .left{
        width: 42%;
        padding-bottom: 50px;

        .circle{
            justify-content: center;
        align-items: center;
            width: 95%;
            margin-top: 50px;
            display: flex;
            height: 100%;
            border-radius: 50% 50% 50% 0;
            box-shadow: 0px -20px 30px 30px #6946ec2b;
            background-image: linear-gradient(0deg, #6946ec, #6946ece0);
            transition: 0.9s;
            &:hover{
              transform: rotate(5deg);
            }
            img{
                width: 70%;
                margin-top: -40px;
                transition: 0.9s;
            }
        }
    }
    .circle:hover img{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    .right{
        flex-grow:1;
        width: 58%;

         .textBox{
            width: 100%;
            height: 100%;
             
            h2{
                font-size: 60px;
                margin: 0;
                color:#6946ec;
            }
            p{
                font-size: 30px;
            }
        }
    }
}

.page{
    margin:70px 5% 0 5%;

    .title{
        margin: 0 8%;
        font-size: 30px;
        color: #454d7d;
    }
.recommended{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card{
        width: 270px;
        padding: 10px;
        background: rgb(255, 255, 255);
        border-radius: 12px;
        box-shadow: 0px 5px 10px #42454610;
        color: #454d7d;
        margin: 10px 25px;
        transition: 0.5s;
        img{
            width: 100%;
            border-radius: 5px;
            height: 100px;

        }
        .item{
            font-size: 17px;
            .bname{
                font-weight: bolder;
            }
        }
        &:hover{
            box-shadow: 0px 5px 10px #1c1d1d25;
            transform: scale(0.95);
        }
    }

}
}