
<div class="topcard">
    <app-header></app-header>
    <div class="topcardcontent">
        <!-- <span *ngIf="userDetails==null"> 
        <div class="loginforfull">
            <div class="login"> <b>הירשם בחינם</b>!<br>בשביל גישה מלאה לאתר
                <li><a class="buttonR" routerLinkActive="active-link" routerLink="/register">הרשמה</a></li>
                <li><a routerLinkActive="active-link" routerLink="/login">כבר רשום התחבר</a></li>
            </div>
        </div>
        </span> -->
    </div>
</div>
<div class="page">
    <div class="recommendedCont">
        <div class="title">מומלצים בשבילך</div>
        <div class="recommended">
            <div routerLinkActive="active-link" [routerLink]="['/businesspage/',item.bid]" class="cardR" *ngFor="let item of data">
                    <div class="bigimg"><img src="../../../assets/blogo.png" alt="{{item.bname}}"></div>
                    <div class="itemR"><a class="bname">{{item.bname}} - {{item.bsubject}}</a></div>
                    <div class="itemR"><a class="bcity">{{item.bcity}}</a></div>
            </div>
        </div>
    </div>
</div>