.doublesection{
    display: flex;
    margin-top: 50px ;
    .section.src{
        padding: 15px;
        background-color: #e0e0e0;
        width: 20%;
        input{
            width: 100%;
            padding: 15px;
            margin-bottom: 15px;
        }
    }
    .section{
        width: 100%;
        .page{
            margin:70px 5% 0 5%;

            .title{
                margin: 0 8%;
                font-size: 30px;
                color: #454d7d;
            }
        .recommended{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .cardR{
                width: 270px;
                padding: 10px;
                background: rgb(255, 255, 255);
                border-radius: 12px;
                box-shadow: 0px 5px 10px #42454610;
                color: #454d7d;
                margin: 10px 25px;

                transition: 0.5s;
                img{
                    width: 100%;
                    border-radius: 5px;
                    height: 100px;

                }

                .itemR{
                    font-size: 17px;
                    padding: 0;
                    margin: 0; 
                    a{
                        color: #090d20;
                        text-decoration: none;
                    }
                    .bname{
                        font-weight: bolder;
                    }
                }
                &:hover{
                    box-shadow: 0px 5px 10px #1c1d1d25;
                    transform: scale(0.95);
                }
            }

            }
        } 
    }
}

.recommendedCont{
    margin-top: 50px;
}


@media screen and (max-width: 1500px) {
    .doublesection{
        flex-wrap: wrap
        }
        .section{
            width: 100% !important;
        }
        
}