.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}
form {
    background: white;
    max-width: 20rem;
    margin: 1% auto;
    padding: 2rem;
    border-radius: 12px;
    color: #454d7d;
  }
  
  input{
    position: relative;
    margin-bottom: 2rem;
  }
  input {
    width: 90%;
    padding: 1rem;
    border: 1.2px solid #454d7d;
    font-size: 1.2rem;
    outline: none;
    border-radius: 12px;
    background: transparent;
    color: #454d7d;
  }
  input:hover,
  input:focus {
    border-color: var(--main-color);
  }
  label {
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    padding: 0 0.5rem;
    transition: top 200ms ease-in, font-size 200ms ease-out;
  }
  
  input:focus ~ label,
  input:not(:placeholder-shown)input:not(:focus) ~ label {
    top: -0.5rem;
    font-size: 0.8rem;
    background-color: white;
    border-radius: 10px;
  }
  
  .form-btn{
  background-color: #6946ec;
  color: #ffffff;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bolder;
  font-size: 20px;
  border:none;
  }
  
  .topcard{
    padding: 0 4%;
    border-radius: 0 0 28px 28px ;
    background-color: #fff;
    box-shadow: 0px 5px 30px 10px #d5d3e08c;
}

.topcardcontent{
  display: flex;
  width: 100%;
  align-items: center;
  
  .left{
      width: 42%;
              padding-bottom: 50px;

      .circle{
          justify-content: center;
       align-items: center;
          width: 95%;
          margin-top: 50px;
          display: flex;
          height: 70%;
          border-radius: 50% 50% 50% 0;
          box-shadow: 0px -20px 30px 30px #6946ec2b;
          background-image: linear-gradient(0deg, #6946ec, #6946ece0);
          transition: 0.9s;
          &:hover{
            transform: rotate(10deg);
          }
          img{
              width: 70%;
              margin-top: -40px;
              margin-left: -px;
          }
      }
  }
  .right{
      flex-grow:1;
      width: 58%;
      .login{
        text-align: center;
        font-size: large;
      }
       .textBox{
          width: 100%;
          height: 100%;
           
          h2{
              font-size: 60px;
              margin: 0;
              color:#6946ec;
          }
          p{
              font-size: 30px;
          }
      }
  }
}