
.full{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card{
        width: 200px;
        background: rgb(240, 240, 240);
        border-radius: 12px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.300);
        margin: 10px 25px;
        transition: 0.5s;
        .symbol{
            background-color: rgb(48, 48, 48);
            color: white;
            padding: 4px 10px ;
            float: right;
            border-radius: 8px 8px 8px 0px;
            margin-top: -50px;
            margin-right: -10px;
            transition: 0.5s;
        }
        .price:after{
            content: '$';
        }   
        .item{
            padding: 10px;
        }

    }
    .card:hover{
        transform: scale(1.2);
        background: linear-gradient(rgb(223, 198, 60), rgb(206, 190, 97));
        .item{
            font-weight: bolder;
        }
        .symbol{
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.500);
            transform: translateY(-10px) scale(1.2);
        }
    }

}
