
.app{
    display: none;
    .sticky{
        position: fixed;
        bottom: 0px;
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 60px;
        .icon{
            width: 20px;
            height: 20px;
            margin: 20px;
            background: black;
        }
    }

}

.web{
    display: flex;

    .footer{
        background-color: #454d7d;
        width: 100%;
        padding: 40px 0;
        margin-top: 50px;
        a{
            color: white;
            padding: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .web{
        display: none;
    }
    .app{
        display: flex;
    }
}