<div class="web">
    <div class="content">
        <div class="slider">
            <div class="cardR ">
                <h3>תפריט</h3>
                <p>בל בלה בלה בלה בלה בלה בלהל בהל בהל  בהלבה לבהלהבל בהלבה לל</p>
            </div>
            
            <div class="cardR ">
                <h3>תפריט</h3>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
            </div>
            <div class="cardR ">
                <h3>תפריט</h3>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
            </div>
            <div class="cardR ">
                <h3>תפריט</h3>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
                    <li><a href="/">תפריט</a></li>
            </div>
            
        </div>
    </div>
    <div class="rights">
        <div class="cardR ">
            <hr>
            <p>© 2022 - razo.com</p>
        </div>
    </div>
</div>
<div class="app">
    <div class="sticky">
        <div class="icon home"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
    </div>
</div>