
.app{
    display: none;
    .sticky{
        position: fixed;
        bottom: 0px;
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 60px;
        .icon{
            width: 20px;
            height: 20px;
            margin: 20px;
            background: black;
        }
    }

}

.web{
    background: white;
    .content{

        .slider{
            margin-top:50px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: auto;
            grid-gap: 5rem;
            padding: 0 10%;
            justify-items: center;
            
            .card{
                background: white;
                width: 100%;
                max-width: 300px;
                border-radius: 28px;
                padding:10px;
                h3{
                }
                    li{
                        list-style: none;
                        transition: 0.5s;
                        margin: 5px;
                        &:hover{
                            transform: translateX(-10px);
                        }
                        a{
                            text-decoration: none;
                            padding: 10px;
                            color: black;
                            &:hover{
                                color: #6946ec;
                            }
                        }
                    }
               
            }
        }
    }
    .rights{
        text-align: center;
        padding: 5px 0;
        hr{
            border-top: 1px solid #8d8d8d33;
        }
    }
}

@media screen and (max-width: 600px) {
    .web{
        display: none;
    }
    .app{
        display: flex;
    }
}