<app-header></app-header>
<div class="fullpage">
    <div class="left">
        <div class="colright">
            <h1>מענה עסקי מושלם</h1>
            <p>פניות חמות ישירות אליכם לווטסאפ<br>
                כל הנתונים שמענינים אותך מאורגנים בצורה נוחה ומתעדכנים בשוטף כך שהיד שלכם תמיד על הדופק
            </p>
        </div>
        <div class="colleft">
            <img src="/assets/3ac7b954b65dd7f4b69a24d46a89616a.jpg" alt="">
        </div>
        <div class="colright">
            <h1>כלים חדשניים שמביאים לכם הרבה המלצות</h1>
            <p>איסוף המלצות פשוט מהיר ונוח.ריבוי המלצות שווה הרבה יותר לקוחות
            </p>       
        </div>
        <div class="colleft">
            <img src="/assets/3ac7b954b65dd7f4b69a24d46a89616a.jpg" alt="">
       
        </div>
        <div class="colright">
            <h1>מענה עסקי מושלם</h1>
            <p>0 ₪ /לחודש
            </p>     
        </div>
        <div class="colleft">
            <img src="/assets/3ac7b954b65dd7f4b69a24d46a89616a.jpg" alt="">

           </div>
    </div>
    <div class="right">
        <button routerLink="/registerbusiness">הירשם כעסק</button>
    </div>
</div>
<app-footer></app-footer>