.topcard{
    padding: 0 4%;
    border-radius: 0 0 28px 28px ;
    background-color: #fff;
    box-shadow: 0px 5px 30px 10px #d5d3e08c;
}
.topcardcontent{
    display: flex;
    width: 100%;
    align-items: center;
    .left{
        width: 42%;
        padding-bottom: 50px;

        .circle{
            justify-content: center;
        align-items: center;
            width: 95%;
            margin-top: 50px;
            display: flex;
            height: 100%;
            border-radius: 50% 50% 50% 0;
            box-shadow: 0px -20px 30px 30px #6946ec2b;
            background-image: linear-gradient(0deg, #6946ec, #6946ece0);
            transition: 0.9s;
            &:hover{
              transform: rotate(5deg);
            }
            img{
                width: 70%;
                margin-top: -40px;
                transition: 0.9s;
            }
        }
    }
    .circle:hover img{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    .right{
        flex-grow:1;
        width: 58%;

         .textBox{
            width: 100%;
            height: 100%;
             
            h2{
                font-size: 60px;
                margin: 0;
                color:#6946ec;
            }
            p{
                font-size: 30px;
            }
        }
    }
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 100px;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    &.learn-more {
      width: 20rem;
      box-shadow: 0px 5px 21px -11px #5426ff;
      background-color: #dfd8fc;
      border-radius: 100px;
      padding: 20px;
      height: auto;
      .circle {
        position: relative;
        display: block;
        margin: 0;
        width: 4rem;
        height: 4rem;        
        transition: 0.5s;
        background: #6946ec;
        transition: 0.5s;
        border-radius: 3.625rem;
        .icon {
          position: absolute;
          top: 0;
          bottom: 0;        
          background-color: red;
          animation: mymove 0.4s infinite;
          animation-direction: alternate;
          transition: 0.5s;
          animation-timing-function: ease-in-out;
          -webkit-animation-timing-function: ease-in-out;
          margin: auto;
          background-color:black;
          &.arrow {
            left: 0.2rem;       
            transition: 0.5s;
            transform: rotate(180deg);
            width: 0;
            height: 0.3rem;
            background: none;
            &::before {
              position: absolute;
              content: "";
              top: -0.4rem;
              right: 0.8625rem;        
              transition: 0.5s;
              width: 1rem;
              height: 1rem;
              border-top: 0.3rem solid white;
              border-right: 0.3rem solid white;
              transform: rotate(45deg);
            }
          }
        }
      }
      @keyframes mymove {
        from {left: 0.9rem;}
        to {left: 0.4rem;}
      }
      .button-text {
        position: absolute;
        top: 17px;
        right: 100px;
        bottom: 0;        
        transition: 0.5s;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #6946ec;
        font-weight: 700;
        font-size: 27px;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;

      }
    }
    &:hover {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
            background: black;
            transform: translate(3rem, 0);
          }
        }
      }
      .button-text {
        color: white;
      }
    }
}

.fullhomepage{
    padding: 20px 4%;
    .content{
        margin-top: 150px; 
        text-align:center;
        h1{
            font-size: 40px;
        }
        .slider{
            margin-top:50px;
            margin-bottom:50px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: auto;
            grid-gap: 5rem;
            padding: 0 4%;

            justify-items: center;
            
            .card{
                background: white;
                width: 100%;
                max-width: 300px;
                border-radius: 28px;
                padding:10px;
                box-shadow: 0px 5px 30px 10px #d5d3e02c;
                h1{
                }
                img{
                    width: 100px;
                }
            }
        }
    }
    .textimg{
        margin-top: 150px; 
        text-align:center;
        
        h1{
            font-size: 40px;
        }
        .slider{
            margin-top:50px;
            margin-bottom:50px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            justify-items: center;
            padding: 0 4%;

            
            .card{
                width: 100%;
                border-radius: 28px;
                padding:10px;
                text-align:center; 
                margin: auto 0;
                img{
                    width: 300px;
                }
                .text{
                    text-align:right;
                }
            }
            .card text{
                display: flex;
                justify-content: flex-start !important;
            }
        }
    }

    .boximgtext{
        margin-top: 150px; 
        text-align:center;
        background: white;
        padding: 0 4%;
        border-radius: 28px;
        background-color: #fff;
        box-shadow: 0px 5px 30px 10px #d5d3e08c;
        h1{
            font-size: 40px;
        }
        .slider{
            margin-top:50px;
            margin-bottom:50px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            justify-items: center;
            
            .card{
                width: 100%;
                border-radius: 28px;
                padding:10px;
                text-align:center; 
                margin: auto 0;
                img{
                    width: 300px;
                    transform: scale(1.2);
                }
                .text{
                    text-align:right;
                }
            }
            .card text{
                display: flex;
                justify-content: flex-start !important;
            }
        }
    }
    .boximgtextcolor{
        margin-top: 150px; 
        text-align:center;
        height: 440px;
        background: white;
        padding: 0 4%;
        border-radius: 28px;
        background-image: linear-gradient(45deg, #6946ec, #6946ece6);
        box-shadow: 0px 5px 30px 10px #d5d3e08c;
        h1{
            font-size: 40px;
        }
        .slider{
            margin-top:50px;
            margin-bottom:50px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            justify-items: center;
            
            .card{
                width: 100%;
                border-radius: 28px;
                padding:10px;
                text-align:center;

                img{
                    width: 300px;
                }
                
                .text{
                    text-align:right;
                }
                img.one{
                    margin-top: -120px !important;
                }
                img.two{
                    margin-bottom: -130px !important; 
                }
            }
            .card text{
                display: flex;
                justify-content: flex-start !important;
            }
        }
    }
}

