.top{
    width: 100%;
    position: absolute;
    display: none;
    background-color: black;
    top: 0;
    z-index: 99;
    height: 150px;
    .alert{
            border-radius: 8px;
            margin: 5%;
            height: 20px;
            font-weight: bolder;
            background-color: rgba(255, 255, 255, 0.329);
            padding: 10px 15px;
            color: white;
            text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .top{
        display: flex;
    }
}
.page{
    margin:70px 5% 0 5%;

    .title{
        margin: 0 8%;
        font-size: 30px;
        color: #454d7d;
    }
.recommended{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card{
        width: 270px;
        padding: 10px;
        background: rgb(255, 255, 255);
        border-radius: 12px;
        box-shadow: 0px 5px 10px #42454610;
        color: #454d7d;
        margin: 10px 25px;
        transition: 0.5s;
        img{
            width: 100%;
            border-radius: 5px;
            height: 100px;

        }
        .item{
            font-size: 17px;
            .bname{
                font-weight: bolder;
            }
        }
        &:hover{
            box-shadow: 0px 5px 10px #1c1d1d25;
            transform: scale(0.95);
        }
    }

}
}

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  padding: 0 var(--_spacer) var(--_spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

