<div class="topcard">
    <app-header></app-header>
    <div class="topcardcontent">
        <div class="right">
            <div class="textBox">
                <h2>צריך לחשוב<br>על משפט מטורף<br>שיסכם</h2>
                <p>Sub headline: 4-5 scentence paragraph,</p>
    
                <a class="buttonR topR"  routerLink="/business"><div class="textR">חיפוש עסק</div><div class="arrowR"><img class="firstR" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"><img class="secR" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"></div></a>
            </div>
        </div>
        <div class="left">
            <div class="circle">
                <img src="/assets/biggirl.png" class="imgOne">
            </div>
        </div>
    </div>
</div>
<app-homecontent></app-homecontent>

