<app-header></app-header>
<div class="homesection">
    <div class="logotext" >ביוטיס</div>
    <div class="bigtext">חוויה טכנולוגית לעסק שלך</div>
    <a class="buttonR topR"  routerLink="/business"><div class="textR">חיפוש עסק</div><div class="arrowR"><img class="firstR" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"><img class="secR" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"></div></a>
</div>
<div class="cat">
    <h1>קטגוריות מומלצות</h1>
    <div class="categories"  >
        <div class="one c" routerLink="/business">
            <img class="catcards" width="50px" src="assets/1057369.png" alt="" >
            <h1>מספרות</h1>
        </div>
        <div class="one c" routerLink="/business">
            <img class="catcards" width="50px" src="assets/2635825.png" alt="">
            <h1>קעקועים</h1>
        </div>
        <div class="one c" routerLink="/business">
            <img class="catcards" width="50px" src="assets/4780548.png" alt="">
            <h1>ציפורניים</h1>
        </div>
        <div class="one c" routerLink="/business">
            <img class="catcards" width="50px" src="assets/2947436.png" alt="">
            <h1>מאפרות</h1>
        </div>
        <div class="one c" routerLink="/business">
            <img class="catcards" width="50px" src="assets/1271416.png" alt="">
            <h1>גבות-שפם</h1>
        </div>
        <div class="one c" routerLink="/business">
            <img class="catcards" width="50px" src="assets/3163173.png" alt="">
            <h1>קוסמטיקאיות</h1>
        </div>
    </div>
</div>

<div class="arrowcard">
    <div class="arrow"></div>
</div>
<app-homecontent></app-homecontent>
<app-footer></app-footer>
