<div class="topcard">
    <app-header></app-header>

    <div class="topcardcontent">
        <div class="right">
            <div class="textBox">
                <h2>צריך לחשוב<br>על משפט מטורף<br>שיסכם</h2>
                <p>Sub headline: 4-5 scentence paragraph,</p>
    
                <a class="button top"  routerLink="/business"><div class="text">חיפוש עסק</div><div class="arrow"><img class="first" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"><img class="sec" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"></div></a>
            </div>
        </div>
        <div class="left">
            <div class="circle">
                <img src="/assets/biggirl.png" class="imgOne">
            </div>
        </div>
    </div>
</div>

<div class="fullhomepage">
    <div class="content">
        <h1>פה יש כמה חרטוטים<br>על כל הקטגוריות </h1>
        <div class="slider">
            <div class="card" routerLink="/business">
                <img src="/assets/hair.png" alt="">
                <div class="h1">ספרים</div>
            </div>
            <div class="card" routerLink="/business">
                <img src="/assets/hair.png" alt="">
                <div class="h1">ספרים</div>
            </div>
            <div class="card" routerLink="/business">
                <img src="/assets/hair.png" alt="">
                <div class="h1">ספרים</div>
            </div>
            <div class="card" routerLink="/business">
                <img src="/assets/hair.png" alt="">
                <div class="h1">ספרים</div>
            </div>
            <div class="card" routerLink="/business">
                <img src="/assets/hair.png" alt="">
                <div class="h1">ספרים</div>
            </div>
        </div>
    </div>
    <div class="textimg">
        <div class="slider">
            <div class="card">
                <img src="/assets/biggirl.png" alt="">
            </div>
            <div class="card text">
                <div class="text">
                    <h1>חרטוטים ועוד חרטוטים ועוד<br>חרטוטים ועוד</h1>
                    <div class="h1">חרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים<br><br> ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועוד</div><br><br>
                        <a class="button"  routerLink="/business"><div class="text">חיפוש עסק</div><div class="arrow"><img class="first" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"><img class="sec" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"></div></a>

                </div>
            </div>

        </div>
    </div>
    <div class="boximgtextcolor">
        <div class="slider">
            <div class="card text">
                <div class="text">
                    <h1>חרטוטים ועוד חרטוטים ועוד<br>חרטוטים ועוד</h1>
                    <div class="h1">חרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועוד<br><br>חרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועוד<br><br>חרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועוד</div>
                        <br><br>
                        <a class="button" style="background:black;" routerLink="/business"><div class="text">חיפוש עסק</div><div class="arrow"><img class="first" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"><img class="sec" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"></div></a>

                </div>
            </div>
            <div class="card">
                <img class="one" src="/assets/iphone.png" alt="">
                <img class="two" src="/assets/iphone.png" alt="">
            </div>
        </div>
    </div>
    <div class="textimg">
        <div class="slider">
            <div class="card">
                <img src="/assets/biggirl.png" alt="">
            </div>
            <div class="card text">
                <div class="text">
                    <h1>חרטוטים ועוד חרטוטים ועוד<br>חרטוטים ועוד</h1>
                    <div class="h1">חרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים<br><br> ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועוד</div><br><br>
                        <a class="button"  routerLink="/business"><div class="text">חיפוש עסק</div><div class="arrow"><img class="first" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"><img class="sec" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"></div></a>
                        
                    </div>
            </div>

        </div>
    </div>
    <div class="boximgtext">
        <div class="slider">
            <div class="card text">
                <div class="text">
                    <h1>חרטוטים ועוד חרטוטים ועוד<br>חרטוטים ועוד</h1>
                    <div class="h1">חרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועוד<br><br>חרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועוד<br><br>חרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועוד</div>
                        <br><br>
                        <a class="button" style="background:black;" routerLink="/business"><div class="text">חיפוש עסק</div><div class="arrow"><img class="first" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"><img class="sec" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"></div></a>

                </div>
            </div>
            <div class="card">
                <img class="bigimg" src="/assets/biggirl.png" alt="">
            </div>
        </div>
    </div>
</div>

