$primary: #169aff;

.homesection{
    width: 100%;
    display: flex;
    height: 600px;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('/assets/no-makeup-shot-girl-with-doubt-while-lot-hands-trying-her-makeup_197531-13816.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    .logotext{
        font-size: 45px;
        text-shadow: 4px 3px 3px rgb(0 0 0 / 37%);
        padding: 30px;
    }
    .bigtext{
        font-size: 40px;
        padding: 10px;
        text-shadow: 4px 3px 3px rgb(0 0 0 / 37%);
    }

    .buttonR{
        display: flex;
        width: 200px;
        margin-top: 15px;
        padding: 15px 34px;
        text-decoration: none;
        transition: 0.5s;
        background-color: $primary;
        color: white;
        border-radius: 12px;
        .textR{
            width: 80%;
            color: white;
            font-size: 20px;
            transform: translateY(-2px);
            text-align: center;
        }
        .arrowR{
            display: flex;
            overflow: hidden;
            filter: invert(1);
            transition: 0.5s;
            width: 20%;
            transform: rotate(180deg) translateY(0px);
            flex-grow: 1;
    
            .firstR,.secR{
                transition: 0.2s;
            }
        }
        &:hover{
            background: rgb(210, 210, 210);

            .firstR,.secR{
                transform: translateX(20px);
            }
    
        }
    }

}
.cat{
    margin-top: -100px;
    width: 100%;
    color: white;
    text-align: center;
    .categories{
        display: flex;
        margin: 0 15%;
        color: black;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 10px 50px rgb(0 0 0 / 17%);
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        .one{
            flex: 0 1 calc(15% - 1rem);
            text-align: center;
            transition: 0.2s;
            img{
                padding-top: 10px;
                max-width: 200px;
            }
            &:hover{
                transform: scale(1.2);
                background-color: $primary;
                border-radius: 8px;
                border: none;
                color: white;
                img{
                    filter: drop-shadow(0 0 20px #ffffff) invert(1);;                
                }
            }
        }
        .one.c{
            border: 1px solid rgba(0, 0, 0, 0.13);
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 1300px) {
    .blogsection{
        .blogposts{
            .one{
                flex: 0 1 calc(100% - 1rem);
            }
        }
    }
    .cat{
        .categories{
            .one{
                flex: 0 1 calc(33% - 1rem);
                h1{
                    font-size: 14px !important;
                }
            }
        }
    }
}

