<div class="web">
    <div class="header">
        <div class="nav">
            <a routerLink="/">בית</a>
            <a routerLinkActive="active-link" routerLink="/CryptoComponent">קריפטו</a>
            <a routerLinkActive="active-link" routerLink="/login">התחברות</a>
            <a routerLinkActive="active-link" routerLink="/register">הרשמה</a>
            <a routerLinkActive="active-link" routerLink="/registerbusiness">עסק</a>
            
        </div>
        
    </div>
</div>
<div class="app">
    <div class="header">
        <div class="back"><</div>
    </div>
    <div class="end">
    </div>
</div>