<header>

    <input type="checkbox" id="toggle-btn">
    <label for="toggle-btn" class="show-menu-btn">=</label>
    <div class="brand-logo">
        <img src="/assets/biggirl.png" alt="Brand Logo">
    </div>
    <div class="brand-logo">
        <span><b>לוגו</b><br>תיאור-קצר</span>
    </div>

    <nav>
        <ul class="navigation">
            <li><a routerLinkActive="active-link" routerLink="/CryptoComponent">קריפטו</a></li>
            <li><span *ngIf="userDetails!=null"><a routerLink="/" (click)="signout()">התנתק</a></span></li>
                <span *ngIf="userDetails==null"> 
                    <li><a routerLinkActive="active-link" routerLink="/login">התחברות</a></li>
                        <li><a routerLinkActive="active-link" routerLink="/register">הרשמה</a></li>
                            <li> <a routerLinkActive="active-link" routerLink="/registerbusiness">עסק</a></li>
                </span>
                <li><a routerLink="/">בית</a></li>
            <label for="toggle-btn" class="hide-menu-btn"><i class="fas fa-times">=</i></label>
        </ul>
    </nav>
    
</header>
