
<div class="fullhomepage">
    <div class="content">
        <h1>באיזה תחום? </h1>
        <div class="slider">
            <div class="cardR" routerLink="/business">
                <img src="/assets/55dd2fbc908339798462efef2ff460b8.jpg" alt="">
                <div class="h1">קוסמטיקאיות</div>
            </div>
            <div class="cardR" routerLink="/business">
                <img src="/assets/79461267ad2dc9e576690a9271fdc754.jpg" alt="">
                <div class="h1">מכוני ספא</div>
            </div>
            <div class="cardR" routerLink="/business">
                <img src="/assets/3ac7b954b65dd7f4b69a24d46a89616a.jpg" alt="">
                <div class="h1">מעצבי שיער</div>
            </div>
            <div class="cardR" routerLink="/business">
                <img src="/assets/9932ab2e3e123d454740f2563d73bebd.jpg" alt="">
                <div class="h1">עיצוב ציפורניים</div>
            </div>
        </div>
    </div>
    <div class="textimg">
        <div class="slider">
            <div class="cardR">
                <img src="/assets/biggirl.png" alt="">
            </div>
            <div class="cardR text">
                <div class="text">
                    <h1>קבל התאמה
                    </h1><br>
                    <div class="h1">ענה על כמה שאלות
                        ספר לנו על הצרכים שלך כדי שנוכל להביא לך את המקצוענים הנכונים.<br>
                        קבל התאמה
                        קבל התאמה עם מספר מקצוענים העונים על הצרכים המדויקים שלך.<br>
                        שכור את המקצוען הנכון
                        השווה מקצוענים, שאל שאלות ושכר רק כאשר אתה מוכן.</div><br>
                        <a class="buttonR topR"  routerLink="/business"><div class="textR">חיפוש עסק</div><div class="arrowR"><img class="firstR" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"><img class="secR" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"></div></a>

                </div>
            </div>

        </div>
    </div>
    <div class="boximgtextcolor">
        <div class="slider">
            <div class="cardR text">
                <div class="text">
                    <h1>הורד את האפליקציה לנייד</h1>
                    <div class="h1">הורד את האפליקציה שלנו
                        הזמן חוויות <br>יופי ובריאות בלתי נשכחות עם אפליקציית  לנייד <br>- הדרך הטובה ביותר לגלות סלונים וספא עם הדירוג <br>הגבוה ביותר</div>
                        <br>
                        <img class="app" src="/assets/5aac41690c940e9146bd81dc5f104283.svg" alt="">
                        <img class="app" src="/assets/56bec84d13b5d8bd037ba0541a24152c.svg" alt="">
                    </div>
            </div>
            <div class="cardR">
                <img class="one" src="/assets/iphone.png" alt="">
                <img class="two" src="/assets/iphone.png" alt="">
            </div>
        </div>
    </div>
    <div class="textimg">
        <div class="slider">
            <div class="cardR">
                <img src="/assets/biggirl.png" alt="">
            </div>
            <div class="cardR text">
                <div class="text">
                    <h1>חרטוטים ועוד חרטוטים ועוד<br>חרטוטים ועוד</h1>
                    <div class="h1">חרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים<br><br> ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים</div><br><br>
                        <a class="buttonR topR"  routerLink="/business"><div class="textR">חיפוש עסק</div><div class="arrowR"><img class="firstR" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"><img class="secR" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"></div></a>
                        
                    </div>
            </div>

        </div>
    </div>
    <div class="boximgtext">
        <div class="slider">
            <div class="cardR text">
                <div class="text">
                    <h1>חרטוטים ועוד חרטוטים ועוד</h1>
                    <div class="h1">חרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועודחרטוטים ועוד חרטוטים ועוד
                        חרטוטים ועוד<br><br>חרטוטים ועוד חרטוטים ועוד
                      </div>
                        <br>
                        <a class="buttonR topR"  routerLink="/business"><div class="textR">חיפוש עסק</div><div class="arrowR"><img class="firstR" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"><img class="secR" src="https://global-uploads.webflow.com/5ff6ce83c48750bc73e44538/5ffab72d5e7fe07221183a6d_Right.svg"></div></a>

                </div>
            </div>
            <div class="cardR">
                <img class="bigimg" src="/assets/biggirl.png" alt="">
            </div>
        </div>
    </div>
</div>

