$primary: #169aff;
.whyus{
    margin: 100px 15%;
    
    h1{
        text-align: center;
    }
    .twosides{
        display: flex;
        align-items: center;
        .cardc{
            h1{
                color: $primary;
                font-size: 30px;
                text-align: right;
            }
            width: 100%;
            font-size: 1.2rem;
        }
    }
}
.blogsection{
    box-shadow: 0 0 50px 50px #1225330c;
    background: linear-gradient(#169aff, #0091ff);
    margin: 50px 0;
}
.blogsection,.phonesection{
    .blogposts,.iphonepost{
        margin: 0 15%;
        padding: 100px 0;
        display: flex;
        border-radius: 8px;
        flex-wrap: wrap;
        align-content: center;
        color: white;
        justify-content: space-around;
        h1{
            font-size: 2.2rem;
            transition: 0.5s;
        }
        p{
            font-size: 1.2rem;
        }
        .one{
            flex: 0 1 calc(33% - 3rem);
            transition: 0.5s;
            img{
                background-color: white;
                border-radius: 8px;
                padding: 10px;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
        .mobile{
            background-color: white;
            box-shadow: 0 0 50px 40px rgba(0, 0, 0, 0.062);
            color: black;
            width: 100%;
            padding: 10px;
            height: 250px;
            display: flex;
            border-radius: 28px;
            justify-content: center;
            align-items: center;
            .onecol{
                margin: 15px;
                color: black;
                p{
                    color: black;
                }
                h1{
                    color: $primary;
                }
                .iphone{
                    margin-top: -50px;
                    transition: 1s;
                    transform: rotate3d(1, 1, 1, 14deg);
                }
                .iphone.sec{
                    margin-top: 50px;
                }
            }

        }
        &:hover{
            .iphone{
                transform: matrix(1, 0, 0, 1, -18, 72) rotate3d(1, 1, 1, 14deg) !important;
            }
            .iphone.sec{
                transform: matrix(1, 0, 0, 1, 18, -72) rotate3d(1, 1, 1, 14deg) !important;
            }
        }
    }
}

.contact{
    background: #169aff;
    margin: 0;
    padding: 0 15%;
}
.cardc.email{
    display: flex;
    border-radius: 3px;
    padding: 20px;
    margin: 15px;
    form{
        display: flex;
        input{
            border-radius: 8px;
            padding: 20px;
            margin: 5px;
            color: white;
            background: transparent;
            border: 2px solid white;
            &::placeholder{
                color: white !important;
            }
        }
        .submit{
            background: white;
            color: $primary;
            width: 200px;
        }
    }
}

@media screen and (max-width: 1500px) {
.iphone.sec{
    display: none;
}
}

@media screen and (max-width: 1300px) {
.blogsection{
    .blogposts{
        .one{
            flex: 0 1 calc(100% - 1rem);
        }
    }
}
.cat{
    .categories{
        .one{
            flex: 0 1 calc(50% - 1rem);
        }
    }
}
.twosides{
    flex-direction: column;
    .cardc{
        display: flex;
        justify-content: center;
    }
}
.mobile{
    flex-wrap: wrap;   
    height: max-content !important;
    .iphone{
        display: none;
    }
}
.cardc.email{
form{
    display: inline;
    padding: 0 0 50px 0;
}
}
}
@media screen and (max-width: 700px) {
    .whyus{
        display: none;
    }
}
