<div class="businesspage">
    <div class="whyus">
         <div class="twosides">
            <div class="cardc" >
                <img src="/assets/79461267ad2dc9e576690a9271fdc754.jpg" alt="">
            </div>
            <div class="cardc">
                <h1>קצת עלינו</h1>
                <p>אנחנו ב-ביוטיס שמים את העסק שלך במרכז עם מגוון רחב של כלים ויכולות , ביוטיס תעשה לעסק שלך חיים קלים יותר. מערכת ניהול התורים המתקדמת שלנו תחסוך שעות יקרות ותעזור לך לנצל את הזמן שלך בצורה טובה יותר. תזכורות ללקוחות מערכת תזכורות ללקוחות הלקוחות יקבלו הודעות בעת אישור או ביטול התור, וגם תזכורת יום לפני קביעת תורים קביעת תורים אונליין אתר במיתוג אישי, דרכו יוכלו הלקוחות שלך לקבוע תור מכל מקום ובכל זמן ניהול עמדות כל העמדות במקום אחד ניהול מספר עמדות בעסק יחד עם ויסות עומסים בין העמדות סנכרון יומנים חיצוניים סנכרון עם יומנים חיצוניים סנכרון היומנים האישיים שלך עם ביוטיס</p>
            </div>
        </div>
    </div>
    <div class="blogsection">
        <div class="blogposts">
            <div class="one">
                <img class="icons" width="50px" src="assets/tec.png" alt="">
                <h1>ניהול העסק ישירות מהנייד</h1>
                <p>זמינה לשימוש מכל מכשיר שבידיכם. לא בעסק? יצאת לחופש? מעסיק עובדים ורוצה ראש שקט? נהל את הפעילות בשלט רחוק ביעילות ובפשטות.</p>
            </div>
            <div class="one">
                <img class="icons" width="50px" src="assets/phone.png" alt="">
                <h1>גורמת לעסק שלך להרוויח </h1>
                <p>התרכזו בלקוחות שלכם ותנו לנו לעסוק בניהול שוטף. נרוויח לכם זמן יקר ונייצר לכם הכנסה נוספת, הגיע הזמן!</p>
            </div>

            <div class="one">
                <img class="icons" width="50px" src="assets/grow.png" alt="" >
                <h1 >מתקדמת טכנולוגית אך קלה </h1>
                <p>פותחה במיוחד עבורכם, הספרים והקוסמטיקאיות, עם דגש על קלות שימוש ונוחות הפעלה.</p>
            </div>
        </div>
    </div>
    <div class="phonesection">
        <div class="iphonepost">
            <div class="mobile">
                <div class="onecol" >
                    <img class="iphone" width="200px" src="assets/iphone.png" alt="">
                    
                </div>
                <div class="onecol" >
                    <img class="iphone sec" width="200px" src="assets/iphone.png" alt="">
                </div>
                <div class="onecol">
                    <h1>ניהול העסק ישירות מהנייד</h1>
                    <p>זמינה לשימוש מכל מכשיר שבידיכם. לא בעסק? יצאת לחופש? מעסיק עובדים ורוצה ראש שקט? נהל את הפעילות בשלט רחוק ביעילות ובפשטות.</p>
                </div>
                <div class="onecol">
                    <img class="download" width="250px" src="assets/download.png" alt="">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="whyus" >
    <div class="twosides">
       <div class="cardc">
           <img src="/assets/3ac7b954b65dd7f4b69a24d46a89616a.jpg" alt="">
       </div>
       <div class="cardc">
           <h1>ניהול העסק ישירות מהנייד</h1>
           <p>אנחנו ב-ביוטיס שמים את העסק שלך במרכז עם מגוון רחב של כלים ויכולות , ביוטיס תעשה לעסק שלך חיים קלים יותר. מערכת ניהול התורים המתקדמת שלנו תחסוך שעות יקרות ותעזור לך לנצל את הזמן שלך בצורה טובה יותר. תזכורות ללקוחות מערכת תזכורות ללקוחות הלקוחות יקבלו הודעות בעת אישור או ביטול התור, וגם תזכורת יום לפני קביעת תורים קביעת תורים אונליין אתר במיתוג אישי, דרכו יוכלו הלקוחות שלך לקבוע תור מכל מקום ובכל זמן ניהול עמדות כל העמדות במקום אחד ניהול מספר עמדות בעסק יחד עם ויסות עומסים בין העמדות סנכרון יומנים חיצוניים סנכרון עם יומנים חיצוניים סנכרון היומנים האישיים שלך עם ביוטיס</p>
       </div>
   </div>
</div>
<div class="contact">
    <div class="twosides">
       <div class="cardc email">
        <form action="mailto:razonir@gmail.com" method="post" enctype="text/plain">
            <input type="text" name="name" placeholder="שם מלא">
            <input type="text" name="mail" placeholder="אימייל">
            <input type="text" name="comment" placeholder="פלאפון">
            <input class="submit" type="submit" value="שלח">
            </form>
            
       </div>
   </div>
</div>