<div class="topcard">
    <app-header></app-header>
    <div class="topcardcontent">
    </div>
</div>
<div class="page">
    <div class="table-responsive">
        <table class="table">
            <h1>עסקים</h1>
            <tr>
                <th>id</th>
                <th>שם פרטי</th>
                <th>שם משפחה</th>
                <th>שם עסק</th>
                <th>תיאור עסק</th>
                <th>תיאור עסק ראשון</th>
                <th>אימייל</th>
                <th>עיר</th>
                <th>כתובת</th>
                <th>טלפון</th>
                <th>תחום</th>
                <th>לוגו</th>
                <th>שעות קבלה</th>
                <th>תוכנית</th>
                <th>נראות</th>
                <th>שינוי נראות</th>
            </tr>
            <tr *ngFor="let item of data">
                <td>{{item.bid}}</td>
                <td>{{item.bfname}}</td>
                <td>{{item.blname}}</td>
                <td>{{item.bname}}</td>
                <td title="{{item.bdescription}}">תוכן ארוך</td>
                <td title="{{item.bdescriptionf}}">תוכן ארוך</td>
                <td>{{item.bemail}}</td>
                <td>{{item.bcity}}</td>
                <td>{{item.baddress}}</td>
                <td>{{item.bphone}}</td>
                <td>{{item.bsubject}}</td>
                <td>{{item.blogo}}</td>
                <td>{{item.bhour}}</td>
                <td>{{item.bplan}}</td>
                <td>{{item.bvisibility}}</td>
                <td>
                    <button *ngIf="item.bvisibility=='f'" (click)="bvisibilityt(item.bid)">אישור פרסום</button>
                    <button *ngIf="item.bvisibility=='t'" (click)="bvisibilityf(item.bid)">ביטול פרסום</button>
                </td>
            </tr>
        </table>
    </div>

    <!-- user -->
    <div class="table-responsive">
        <table class="table">
            <h1>משתמשים</h1>
            <tr>
                <th>id</th>
                <th>תפקיד</th>
                <th>שם פרטי</th>
                <th>שם משפחה</th>
                <th>אימייל</th>
                <th>סיסמא</th>
                <th>מין</th>
                <th>עיר</th>
                <th>כתובת</th>
                <th>טלפון</th>
                <th>תמונה</th>
                <th>תאריך</th>
                <th>מחק</th>
            </tr>
            <tr *ngFor="let item of datauser">
                <td>{{item.userid}}</td>
                <td>{{item.userrole}}</td>
                <td>{{item.userfname}}</td>
                <td>{{item.userlname}}</td>
                <td>{{item.useremail}}</td>
                <td title="{{item.userpassword}}">סמן עלי</td>
                <td>{{item.usergender}}</td>
                <td>{{item.usercity}}</td>
                <td>{{item.useraddress}}</td>
                <td>{{item.userphone}}</td>
                <td>{{item.userprofileimg}}</td>
                <td>{{item.userdate}}</td>
                <td><button (click)="removeUser(item.userid)">מחק משתמש</button></td>
            </tr>
        </table>

    
    </div>